.aboutBlock {
    padding: 5% 0%;
    @extend %double-border;
    text-align: justify;
    @include font($size: 1.7rem, $family: $fontSansFira, $weight: 400);
    & h2 {
        @include font($size: 3.3rem, $family: $fontNothingYou, $weight: 700);
        word-spacing: -0.2em;
        line-height: 100%;
        letter-spacing: 0em;
        text-align: center;

        @extend %double-border;
        margin-bottom: 20px;
    }
    display: flex;
    flex-direction: row;

    & > div {
        flex: 1;
    }
    & > div:first-child{
        padding-right: 8%;
    }
    
    & p {
        text-indent: 1.5em;
        line-height: 170%;
        margin-bottom: 20px;
        color: rgba(51, 51, 51, 1);
        letter-spacing: 0.04em;
        font-size: 14px;
    }
}

.portrait {
    background-image: url("../src/assets/images/portrait.svg");
    background-size: cover;
    border-width: 0px;
    border-color: black;
    background-attachment: scroll;
    background-color: transparent;
    padding: 0% 0% 11%;
    background-position: center top;
    border-style: solid;
    background-repeat: no-repeat;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
