h2 {
    @include font($size: 3.3rem, $family: $fontNothingYou, $weight: 700);
    word-spacing: -0.2em;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: center;

    @extend %double-border;
    margin-bottom: 20px;
}

.example-enter {
    opacity: 0.01;
    transform: translateY(10px);
  }
 
  .example-enter.example-enter-active {
    //opacity: 1;
    ///transition: opacity 500ms ease-in;
    opacity: 1;
    transform: none;
  
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    transition-delay: 500ms;
    }
 
 
  
  .example-exit {
    opacity: 1;
    transform: none;
  }
  
  .example-exit.example-exit-active {
    opacity: 0.01;
    transform: translateY(10px);
  
    transition-property: opacity, transform;
    transition-timing-function: ease-in;
    transition-duration: 200ms;
  }